html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "PT Mono";
    height: 150vh;
}

header {
    /*background-color: chocolate;*/
    position: relative;
    width: 100%;
    min-height: 800px;
    padding-top: 46px;
}

/* Style the grid items */
.grid-item {
    /*border: 1px solid #000; !* Add a border to each grid item *!*/
    padding: 25px;
    padding-left: 25%;
    text-align: left;
}

.header {
    background-image: url("img/IMG_2210.JPG");
    background-size: cover;
    animation: fadeIn 0.4s ease-in-out;
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Create a grid with 3 columns and 2 rows */
.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    grid-template-rows: repeat(2, 20vh); /* 2 rows with a fixed height */
    grid-gap: 5px; /* Add gap between grid items */
}

.navigation_link {
    text-decoration: none;
    color: black;}

a:hover {
    text-decoration: underline;
    color: #FF8251;
}

a:active {
    text-decoration: underline;
    color: #FF8251;
}

.grid-item:nth-child(7) {
    font-size: 32pt;
    grid-column: span 2;
    padding-left: 12.5%;
    padding-right: 20%;
}

.grid-item:nth-child(8) {
    display: none;
}

body, ul, li {
    margin: 0;
    padding: 0;
}

.fade-in-list li {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.gallery-container {
    scroll-behavior: smooth;
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}
